{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-info">Actualizar Dirección</h2>
    <form method="post" class="border p-4 rounded shadow bg-dark text-white">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Provincia</label>
            {{ form.provincia }}
        </div>
        <div class="mb-3">
            <label class="form-label">Cantón</label>
            {{ form.canton }}
        </div>
        <div class="mb-3">
            <label class="form-label">Distrito</label>
            {{ form.distrito }}
        </div>
        <div class="mb-3">
            <label class="form-label">Estado</label>
            {{ form.estado }}
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a href="{% url 'listar_direcciones' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
