{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-warning">✏️ Actualizar Proveedor</h2>
    <form method="post" class="border p-4 rounded shadow-sm bg-dark text-white">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mt-3">
            <button type="submit" class="btn btn-outline-primary">Actualizar</button>
            <a href="{% url 'listar_proveedores' %}" class="btn btn-outline-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
