{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-success">➕ Insertar Producto</h2>
    <form method="post" class="card p-4 shadow bg-dark text-light">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mt-3">
            <button type="submit" class="btn btn-outline-success">Guardar</button>
            <a href="{% url 'listar_productos' %}" class="btn btn-outline-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
