{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-warning">➕ Insertar Beneficio</h2>
    <form method="post" class="card shadow p-4 bg-light">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'listar_beneficios' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
