{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-warning">➕ Insertar Factura</h2>
    
    <form method="post" class="card shadow p-4 bg-dark text-light border border-success">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="mt-3">
            <button type="submit" class="btn btn-outline-success">Guardar</button>
            <a href="{% url 'listar_facturas' %}" class="btn btn-outline-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
